@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    168.13deg,
    #f8d696 4.91%,
    #ea8af2 43.43%,
    #a972ee 98.14%
  );
}
